.lightBorder {
  border: 1px solid var(--border-color-1);
}


.dodoBackground {
  background-image: url("/assets/bgGrid.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.draggable {
  touch-action: none; 
}

.scrollableContainer {
  touch-action: auto; 
}

.bgGrid {
  background-image:
    linear-gradient(to right, #E0DEE3 0.5px, transparent 0.5px),
    linear-gradient(to bottom, #E0DEE3 0.5px, transparent 0.5px);
  background-size: 24px 24px;
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: center;
}