@charset "UTF-8";
:root {
  --theme-1: #00643c;
  --theme-2: #fafafa;
  --theme-3: #17CF62;
  --theme-4: #48CFAD;
  --bg-theme: #eae9ec;
  --bg-theme-2: #D8D6DC;
  --light-grey: #d9d9d9;
  --dark-green: #555555;
  --darker-green: #026046;
  --green: #09b950;
  --brown: #015046;
  --white: #FDFBFF;
  --light-green: #bcd3cd;
  --border-color: #d0d0d0;
  --border-color-1: #f2f2f2;
  --heading-text: #5e6c84;
  --grey: #4d4d4d;
  --neon-rose: #F4E4FC;
  --neon-purple: #F4E4FC;
  --neon-yellow: #FFCB8A;
--neon-blue: #E09AFE;
  --main-bg-theme: #eae9ec;
  --text-color: #000000;
  --dark-text-color: #414D55;
  --card-bg: transparent;
  --yellow: #F9F5C8;
  --warm-green: #E3F6C0;
  --pink: #F4668E;
  --red: #FF0000;
  --light-orange: #FFEDD6;
  --orange: #FFDBAD;
  --purple: #F1D2FE;
}

[data-theme="light"] {
  --black: #000000;
  --white: #FDFBFF;
  --off-white: #fcfcfc;
  --shadow-color: rgba(0, 0, 0, 0.15);
  --border-color: #d0d0d0;
  --light-black: #4f4f4f;
  --gray: #eeeeee;
  --skeleton-white: #dce0e5;
  --skeleton-shine: #f0f2f4;
}

[data-theme="dark"] {
  --black: #ffffff;
  --white: #000000;
  --off-white: #101012;
  --shadow-color: rgb(152 149 149 / 18%);
  --border-color: #292929;
  --light-black: #292929;
  --gray: #4f4f4f;
  --skeleton-white: #2d2d2e;
  --skeleton-shine: #171818;
}
