.lightBorder {
    border: 1px solid var(--border-color-1);
  }
  
  
  .dodoBackground {
    background-image: url("/assets/bgGrid.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
  }

/* Desktop styles */
@media screen and (min-width: 768px) {
    .blocksContainer {
        max-idth: 768px;
        width: 620px;
        margin: 0 auto;
        padding: 0 20px;
        font-size: 18px;
    }
    
    .footerContainer {
        max-width: 768px;
        margin: 40px auto;
        padding: 0 20px;
    }
}