/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.3_@babel+core@7.26.8_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.3_@babel+core@7.26.8_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/atoms/UserInput/styles.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_inputContainer__Iix38 {
  position: relative;
}

.styles_inputContainer__Iix38 input {
  text-align: left;
  outline: none;
  letter-spacing: 1px;
  cursor: text;
  line-height: 1.71;
  background: transparent;
}

.styles_inputContainer__Iix38 input:focus,
.styles_inputContainer__Iix38 input:not([value=""]) {
  border-color: var(--theme-1);
}

.styles_inputContainer__Iix38 input:focus ~ .styles_input-label__THGuM,
.styles_inputContainer__Iix38 input:not([value=""]) ~ .styles_input-label__THGuM {
  top: -5px;
  font-size: 0.875rem;
}

.styles_inputContainer__Iix38 input.styles_input__element_invalid__qrK0b {
  border-color: var(--red);
}

.styles_inputContainer__Iix38 input::-moz-placeholder {
  color: var(--disabled-color);
  font-size: 1rem;
  font-family: "medium-font";
}

.styles_inputContainer__Iix38 input::placeholder {
  color: var(--disabled-color);
  font-size: 1rem;
  font-family: "medium-font";
}

.styles_inputContainer__Iix38 input:-webkit-autofill,
.styles_inputContainer__Iix38 input:-webkit-autofill:hover,
.styles_inputContainer__Iix38 input:-webkit-autofill:focus,
.styles_inputContainer__Iix38 input:-webkit-autofill:active {
  -webkit-transition: var(--white) 5000s ease-in-out 0s;
  transition: var(--white) 5000s ease-in-out 0s;
}

.styles_inputContainer__Iix38 .styles_inputLabel__AueOn {
  position: absolute;
  top: 20%;
  transition: all 0.25s ease-in-out;
  letter-spacing: 1px;
  font-size: 1rem;
}

