/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.3_@babel+core@7.26.8_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.3_@babel+core@7.26.8_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/home/home.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.home_cardDimensions__fSWCR {
  width: 100%;
}


.home_lowerDiv__VnZJs {
  border-top: 3px solid #3D4966; 
}

.home_shimmerBg__OVbPf {
  background: linear-gradient(45deg, rgba(249, 206, 52, 1) 0%, rgba(238, 42, 123, 1) 50%, rgba(98, 40, 215, 1) 100%);
  background-size: 200% 200%;
  background-position: 0% 50%;
  animation: home_shimmer__iQ97q 4s ease-in-out forwards; /* Runs once and stops */
}

@keyframes home_shimmer__iQ97q {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.home_movingStripWrapper__xaISy {
  position: absolute;
  width: 100%;
  overflow: hidden;
  bottom: 0;
  height: 100px; /* Adjust based on strip size */
}

.home_movingStrip__yDHsf {
  display: flex;
  width: 200%; /* Makes sure there's always part of the strip visible */
  animation: home_move-strip__ldBGd 10s linear infinite;
}

.home_stripImage__lQBDE {
  width: 50%; /* Each image takes half the container */
  flex-shrink: 0;
}

@keyframes home_move-strip__ldBGd {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%); /* Moves by half its width */
  }
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.3_@babel+core@7.26.8_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.3_@babel+core@7.26.8_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/molecules/CtaSection/ctaSection.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

.ctaSection_floatingSection__s2eYH {
    display: flex;
    flex-direction: row;
    border-radius: 24px;
    border-top-right-radius: 0px;
    overflow: hidden;
}

.ctaSection_firstPart__T5k5C {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: left;
    background-color: #f5f5f5;
    border-top-right-radius: 24px;
    border:none;
}

.ctaSection_secondThirdContainer__K2fZh {
    flex: 1;
    display: flex;
    background: transparent;
    flex-direction: column;
}

.ctaSection_secondPart__YXLZn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ctaSection_thirdPart__fZNmn {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-top-right-radius: 24px;
}

.ctaSection_floatingSectionButton__J731P {
    margin: 0px 0 -6px 10px;
    padding: 2px 6px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    font-size: 10px;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.ctaSection_floatingSectionButton__J731P:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.ctaSection_topRight__pu0yu {
    top: 10px;
    right: 10px;
}

.ctaSection_bottomRight__aEi7V {
    bottom: 10px;
    right: 10px;
}

.ctaSection_invertedRadius__Whe_W {
    width: auto;
    height: auto;
    aspect-ratio: 1;
    -webkit-mask: 
        calc(100% - 110px - 20px) 0 /calc(2 * 30px) calc(2 * 30px) radial-gradient(#000 70%, #0000 72%),
        100% calc(30px + 10px) /calc(2 * 30px) calc(2 * 30px) radial-gradient(#000 70%, #0000 72%),
        radial-gradient(30px at 100% 0, #0000 99%, #000 calc(100% + 1px)) 
        calc(-1 * 30px - 20px) calc(30px + 10px),
        conic-gradient(at calc(100% - 30px) 30px, #0000 25%, #000 0) calc(-1 * 110px - 20px) 0,
        conic-gradient(at calc(100% - 30px) 30px, #0000 25%, #000 0) 0 calc(110px + 10px);
            mask: 
        calc(100% - 110px - 20px) 0 /calc(2 * 30px) calc(2 * 30px) radial-gradient(#000 70%, #0000 72%),
        100% calc(30px + 10px) /calc(2 * 30px) calc(2 * 30px) radial-gradient(#000 70%, #0000 72%),
        radial-gradient(30px at 100% 0, #0000 99%, #000 calc(100% + 1px)) 
        calc(-1 * 30px - 20px) calc(30px + 10px),
        conic-gradient(at calc(100% - 30px) 30px, #0000 25%, #000 0) calc(-1 * 110px - 20px) 0,
        conic-gradient(at calc(100% - 30px) 30px, #0000 25%, #000 0) 0 calc(110px + 10px);
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
}

.ctaSection_curvedTriangle___366O {
    width: 24px;
    height: 16px;
    background: #f5f5f5; /* Triangle color */
    clip-path: path('M 0 0 Q 0 16 24 16 L 0 16 Z');
  }
  
  
  
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.3_@babel+core@7.26.8_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.3_@babel+core@7.26.8_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/home/StarSpinner/StarSpinner.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.StarSpinner_starContainer__QsIU3 {
    position: relative;
    width: 89px;
    height: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .StarSpinner_bigStar__UuWYT {
    position: absolute;
    animation: StarSpinner_rotateClockwise__5w2Bq 8s linear infinite;
  }
  
  .StarSpinner_smallStar__0DHyS {
    position: absolute;
    width: 30px;
    height: 30px;
    animation: StarSpinner_rotateAntiClockwise__M1kLU 8s linear infinite;
  }
  
  @keyframes StarSpinner_rotateClockwise__5w2Bq {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes StarSpinner_rotateAntiClockwise__M1kLU {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
  
